<div class="footerInfo">
	<h5 class="white-text">
		Join us
	</h5>
	<p class="grey-text text-lighten-4">
		At *asterix and WHCS we are dedicated to
		make it easier for students to gain leadership
		experiences through working with their peers and
		with guidance from mentors with focus on bringing
		diversity and equality to the the ever changing
		media landscape. If you want to join us on our
		journey or want to share ideas, join our slack to chat.
	</p>
	<a class="btn waves-effect waves-light" target="_blank" href="https://asterixmedia.signup.team">Chat</a>
</div>
