<div class="footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          {% include defaultLayout/footerInfo.html %}
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" target="_blank" href={{ site.social.twitter }}>
              <i class="mdi mdi-twitter"></i>
              Twitter
            </a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href={{ site.social.facebook }}>
              <i class="mdi mdi-facebook"></i>
              Facebook
            </a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href={{ site.social.instagram }}>
              <i class="mdi mdi-instagram"></i>
              Instagram
            </a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href={{ site.social.snapchat }}>
              <i class="mdi mdi-snapchat"></i>
              Snapchat
            </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <a class="grey-text text-lighten-4 " href="http://asterixmedia.org">
          © 2016 asterix* Media
        </a>
        <span class="grey-text text-lighten-4 right">
          Designed @ asterix* Visuals
        </span>
      </div>
    </div>
  </footer>
</div>