<div class="footerInfo">
	<h5 class="white-text">
		Join us
	</h5>
	<p class="grey-text text-lighten-4">
		At *asterix and WHCS we are dedicated to make it easier for students to gain leadership experiences through working with their peers and with guidance from mentors with focus on bringing diversity and equality to the the ever changing media landscape. If you want to join us own our journey or want to share idea, join our slack to chat.
	</p>	
	<a class="btn waves-effect waves-light" target="_blank" href="https://gitter.im/Dogfalo/materialize">Chat</a>
</div>