<div class="navbar">
	<header class="navbar-fixed">
		<nav class="smoothScrool">
			<div class="nav-wrapper container">
			  <a href="/" class="brand-logo">SMC'16</a>
			  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			  <ul class="right hide-on-med-and-down">
			    {% include defaultLayout/navbarLinks.html %}
			  </ul>
			  <ul class="side-nav" id="mobile-demo">
			    {% include defaultLayout/navbarLinks.html %}
			  </ul>
			</div>
		</nav>
	</header>
</div>