.about {
	background-color: #eee;
	padding: 40px 0;

	.holder {
		margin: auto;
		max-width: 1000px;
		max-height: 600px;
		font-size: 150%;
		min-height: 150px;
		min-width: 300px;
	}

	p {
		text-align: justify;
	}

	.row {
		margin: 0;
	}
	.aboutButton {
		margin-top: 5px;
	}
}
