.location {
	background: white;
	padding-bottom: 30px;

	h1 {
		text-align: center;
	}

	.locationHolder {
		font-size: 150%;

	}
	p {
		// font-size: 130%;
		text-align: justify;
		margin-bottom: 0;
	}
	
	.row {
		margin-bottom: 0;
	}
	.mapHolder {
		margin: auto;
		max-width: 800px;
		max-height: 400px;
		// font-size: 130%;
		// min-height: 150px;
		// min-width: 300px;
	}
	.map {
		position: relative;
        padding-bottom: 300px; // This is the aspect ratio
        height: 0;
        overflow: hidden;

		iframe {
			position: absolute;
	        top: 0;
	        left: 0;
	        width: 100% !important;
	        height: 40vh !important;
		}
	}
}