<div class="about">
	<div class="holder">
		<div class="container">
			<div class="row valign-wrapper">
				<p class="aboutInfo valign">
					Student Media Con (SMC'16) is a conference open to student media organizations across the CUNY system and throughout the NYC area.The purpose of this conference is to provide a forum for student media organizations to get together, collaborate, and discover new ways to make these institutions stronger, more diverse, and more successful in the long run.
				</p>
			</div>
			<div class="center-align">
				<a class="waves-effect red darken-1 waves-light btn" target="_blank" href="https://www.eventbrite.com/e/student-media-con-2016-smc16-tickets-24524042070">
					<i class="mdi mdi-email-open"></i>
					RSPV
				</a>
			</div>
		</div>
	</div>
</div>
