<div class="about">
	<div class="holder">
		<div class="container">
			<div class="row valign-wrapper">
				<p class="aboutInfo valign">
					Student Media Con (SMC'16) is a conference open to student media organizations across the CUNY system and throughout the NYC area.The purpose of this conference is to provide a forum for student media organizations to get together, collaborate, and discover new ways to make these institutions stronger, more diverse, and more successful in the long run.
				</p>
			</div>
		</div>
	</div>	
</div>