<form action="https://formspree.io/{{ site.contactForm.emailToReceive }}" method="POST">
	<div class="row">
		<div class="input-field col s12">
			<input id="first_name" name="First Name" type="text" class="validate">
        	<label for="first_name">
        	First Name
        	</label>
		</div>
		<div class="input-field col s12">
			<input id="last_name" name="last_name" type="text" class="validate">
        	<label for="last_name">
        	Last Name
        	</label>
		</div>
		<div class="input-field col s12">
			<input id="email" type="email" class="validate" name="_replyto">
          <label for="email">Email</label>
		</div>
		<div class="input-field col s12">
			<textarea id="textarea1" class="materialize-textarea" name="message"></textarea>
          	<label for="textarea1">Textarea</label>
		</div>
		<div class="input-field col s12">
			<input type="submit" value="send" class="waves-button-input btn"/>
		</div>
	</div>
</form>