<div class="organizers valign-wrapper">
	<div class="container valign">
		<div class="row">
			<h1>Organizers</h1>
			<div class="col s12" >
				<div class="row">
					<div class="col s6 m4 offset-m2">
						<div class="card-panel hoverable">
						    <a target="_blank" href="{{ site.organizers.whcs.website }}">
								<img src="{{ site.github.url }}/assets/images/pages/home/organizers/{{ site.organizers.whcs.logo }}" alt="asterix* Media Logo" width="300" height="200">
							</a>
							<div class="desc">WHCS Radio</div>
						</div>
					</div>
					<div class=" col s6 m4">
						<div class="card-panel hoverable">
						    <a target="_blank" href="{{ site.organizers.asterix.website }}">
								<img src="{{ site.github.url }}/assets/images/pages/home/organizers/{{ site.organizers.asterix.logo }}" alt="asterix* Media Logo" width="300" height="200">
							</a>
							<div class="desc">asterix* Media</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div> 