<div class="col s6 m4">
	<div class="card-panel hoverable">
		<a target="_blank" href="{{ site.sponsors.chipotle.website }}">
			<img src="{{ site.github.url }}/assets/images/pages/home/sponsors/{{ site.sponsors.chipotle.logo }}" alt="chipotle logo" width="300" height="200">
		</a>
		<div class="desc">Chipotle</div>
	</div>
</div>

<div class="col s6 m4">
	<div class="card-panel hoverable">
		<a target="_blank" href="{{ site.sponsors.jerseyMikes.website }}">
			<img src="{{ site.github.url }}/assets/images/pages/home/sponsors/{{ site.sponsors.jerseyMikes.logo }}" alt="Jersey Mike's logo" width="300" height="200">
		</a>
		<div class="desc">Jersey Mike's</div>
	</div>
</div>

<div class="col s6 m4">
	<div class="card-panel hoverable">
		<a target="_blank" href="{{ site.sponsors.lolaGranola.website }}">
			<img src="{{ site.github.url }}/assets/images/pages/home/sponsors/{{ site.sponsors.lolaGranola.logo }}" alt="Lola Granola logo" width="300" height="200">
		</a>
		<div class="desc">Lola Granola</div>
	</div>
</div>

<div class="col s6 m4">
	<div class="card-panel hoverable">
		<a target="_blank" href="{{ site.sponsors.rawsome.website }}">
			<img src="{{ site.github.url }}/assets/images/pages/home/sponsors/{{ site.sponsors.rawsome.logo }}" alt="Rawsome Treats logo" width="300" height="200">
		</a>
		<div class="desc">Rawsome Treats</div>
	</div>
</div>

<div class="col s6 m4">
	<div class="card-panel hoverable">
		<a target="_blank" href="{{ site.sponsors.davids.website }}">
			<img src="{{ site.github.url }}/assets/images/pages/home/sponsors/{{ site.sponsors.davids.logo }}" alt="Rawsome Treats logo" width="300" height="200">
		</a>
		<div class="desc">David's Tea</div>
	</div>
</div>
